<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>BOOK RECOMMENDER</title>
    <!-- fitting to different screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- own css -->
    <link rel="stylesheet" href="/static/css/styles.css">
    <style>
    h3 {color: #839AA8}
    h2 {color:#A790A1}
    li {list-style-type: disc;};
    body {
          width:80%;
          margin-left:auto;
          margin-right:auto;};


    </style>
  </head>

  <body>
    <!-- navigationbar -->
<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" href="/index" style="color:#364954" >Start</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/recommender" style="color:#364954">Recommendations</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/best" style="color:#364954">Best-rated Books</a>
  </li>
</ul>

    {% block content %}

    {% endblock %}

<!-- optional bootstras javascript -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<script type="text/javascript" src="/static/js/script.js">

    </script>
  </body>
</html>


<!-- link javascript to all html files: with script -->
<!-- put in in the end so user doesnt has to wait and html has to exist before things in it can be used -->

<!-- bootstrap will leave a groundbase that can be overwritten -->
