{% extends "_base.html" %}
{% block content %}
<!-- align-items-left -->
<!-- row-cols-2  -->
<br><br>
<div class="alert alert-primary" role="alert" style="color:#839AA8">

</div>
<br><br>
  <div class="container" style="align-content:center">
    <div class="row justify-content-around">
      <div class="col">
          <br><br><br>
          <h3> The books people liked the most of all:</h3><br>
          <ul>
              <li>{{top_25[0]}} by {{top_25[1]}}</li>
              <li>{{top_25[2]}} by {{top_25[3]}}</li>
              <li>{{top_25[4]}} by {{top_25[5]}}</li>
              <li>{{top_25[6]}} by {{top_25[7]}}</li>
              <li>{{top_25[8]}} by {{top_25[9]}}</li>
              <li>{{top_25[10]}} by {{top_25[11]}}</li>
              <li>{{top_25[12]}} by {{top_25[13]}}</li>
              <li>{{top_25[14]}} by {{top_25[15]}}</li>
              <li>{{top_25[16]}} by {{top_25[17]}}</li>
              <li>{{top_25[18]}} by {{top_25[19]}}</li>
              <li>{{top_25[20]}} by {{top_25[21]}}</li>
              <li>{{top_25[22]}} by {{top_25[23]}}</li>
              <li>{{top_25[24]}} by {{top_25[25]}}</li>
              <li>{{top_25[26]}} by {{top_25[27]}}</li>
              <li>{{top_25[28]}} by {{top_25[29]}}</li>
              <li>{{top_25[30]}} by {{top_25[31]}}</li>
              <li>{{top_25[32]}} by {{top_25[33]}}</li>
              <li>{{top_25[34]}} by {{top_25[35]}}</li>
              <li>{{top_25[36]}} by {{top_25[37]}}</li>
              <li>{{top_25[38]}} by {{top_25[39]}}</li>
              <li>{{top_25[40]}} by {{top_25[41]}}</li>
          </ul>
      </div>

      <div class="col-20">
    <img class ="friend_image" src="/static/images/dog.jpg" alt="dog" width="500vh">
      </div>
  </div>
</div>
<br><br>
<div class="alert alert-primary" role="alert" style="color:#839AA8">

</div>
  {% endblock %}
