{% extends "_base.html" %}
{% block content %}

    <div>
    <!-- <div style="width:400px; margin:auto; background-color: #9ea5af;"> -->
    <br><br>
    <h3 style="text-align: center">This is your</h3>
    <br>
    <h1 style="text-align: center"> Friendly Book Advice</h1>
    <br><br><br>

    <form action='/recommender' method='get' style="text-align:center">
      <p style="font-size:14pt">Which books do you love?</p>
        <input type="text" name="book1" placeholder="Enter a book title">
        <br><p></p>
        <input type="text" name="book2"  placeholder="Enter a book title">
        <br><p></p>
        <input type="text" name="book3"  placeholder="Enter a book title">
        <br><br>
      <input type="submit" value="What should I read next?" class="submit-button">
    </form>
    <br><br>
<img class ="friend_image" src="/static/images/intro.jpg" alt="friend">
  </div>

</div>
  <!-- </div> -->

  {% endblock %}
  <!-- </body>
</html> -->
