{% extends "_base.html" %}
{% block content %}
<div>
<br><br>
    <div class="container" style="align-content:center">
      <div class="row row-cols-2 align-items-center">
        <div class="col">
          <h3 style="font-size=14pt;"> You liked these books:&nbsp;&nbsp;&nbsp;</h3>
        </div>
        <div class="col-20">
          <span style="font-weight: bold;">{{titles[0]}}</span> by {{titles[1]}},<br>
          <span style="font-weight: bold;">{{titles[2]}}</span> by {{titles[3]}} and <br>
          <span style="font-weight: bold;">{{titles[4]}}</span> by {{titles[5]}}<br>
        </div>

      </div>
    </div>
    <br><br><br>
    <div class="alert alert-dark" role="alert"">

    </div>
  <br><br><br>

  <div class="container">
    <div class="row align-items-center">
      <div class="col-sm">

        <h3> One friend recommends these ones:</h3><br>
          <p><span>{{recommendations[0]}}</span> by {{recommendations[1]}}</p>
          <p><span>{{recommendations[2]}}</span> by {{recommendations[3]}}</p>
          <p><span>{{recommendations[4]}}</span> by {{recommendations[5]}}</p>
          <p><span>{{recommendations[6]}}</span> by {{recommendations[7]}}</p>
          <p><span>{{recommendations[8]}}</span> by {{recommendations[9]}}</p>
      </div>
      <div class="col-sm">
        <img class ="friend_image" src="/static/images/friend1.jpg" alt="friend" style="padding-left: 200px; width: 75vh;">
      </div>

    </div>
  </div>

<br><br><br><br>
<div class="alert alert-dark" role="alert">

</div>
<br><br><br>

<div class="container">
  <div class="row align-items-center">
    <div class="col-sm">
      <img class ="friend_image" src="/static/images/friend2.jpg" alt="friend" style="padding-right: 200px; width: 75vh;">
      <br><br><br><br>
    </div>
    <div class="col-sm">
      <h3>The other one thinks you'd maybe like these:</h3><br>
      <p><span>{{recommendations_lol[0].title}}</span>  by {{recommendations_lol[0].author}}</p>
      <p><span>{{recommendations_lol[1].title}}</span>  by {{recommendations_lol[1].author}}</p>
      <p><span>{{recommendations_lol[2].title}}</span>  by {{recommendations_lol[2].author}}</p>
      <p><span>{{recommendations_lol[3].title}}</span>  by {{recommendations_lol[3].author}}</p>
      <p><span>{{recommendations_lol[4].title}}</span>  by {{recommendations_lol[4].author}}</p>
    </div>


  </div>
</div>
<br><br>
<div class="alert alert-dark" role="alert">

</div>
</div>
  {% endblock %}
<!-- </html> -->
