
* {
  color:#364954;
  background-color: #b1b7bf;
}

/* #intro {
     margin-left: 200px;
    background-color: #9ea5af;
  } */


.container_one {

  justify-content: center;
  align-items: center;
  align-content:center;
  background-color: #b1b7bf;
}

.container {
            /* height: 100vh; */
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-content:center;
            /* background-color: #9ea5af; */
}

.intro {position:absolute;
        left: 50%;

}

.col {
  background-color: #b1b7bf;
  /* align-items: left; */
}

.ul {
  list-style-type: disc;
  background: #3399ff;
  padding: 20px;
}

.friend_image {
  width: 50vh;
  display:block;
  margin: auto;
}

p span {
font-weight: bold;
}

/* p {color: #FFE4F8;} */

h3 {color: #b58851;}
h2 {color: #b58851;}
li {list-style-type: disc;}

.submit-button {margin-top: 10px;}

#given {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
        float: center;}
}

#words {color: blue;}
