
* {
  color:#364954;
  background-color: #b1b7bf;
}

/* #intro {
     margin-left: 200px;
    background-color: #9ea5af;
  } */


.container_one {

  justify-content: center;
  align-items: center;
  align-content:center;
  background-color: #b1b7bf;
}

.container {
            /* height: 100vh; */
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-content:center;
            /* background-color: #9ea5af; */
}

.intro {position:absolute;
        left: 50%;

}

.col {
  background-color: #b1b7bf;
  /* align-items: left; */
}

.col li {list-style-type: None;
          padding-bottom: 7px;}
.col li span {font-weight: bold;}

.ul {
  list-style-type: None;
  background: #3399ff;
  padding: 20px;
}

.friend_image {
  width: 50vh;
  display:block;
  margin: auto;
}

p span {
font-weight: bold;
}

/* p {color: #FFE4F8;} */
h1 {color: #b58851;}
h3 {color: #b58851;}
h2 {color: #b58851;}
li {list-style-type: disc;}

.submit-button {
  margin-top: 10px;
  background-color:#b58851;
  border: 1px solid #364954;
}

input[type=text] {
  background-color: #b1b7bf;
  border: 1px solid #364954;
}


#given {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
        float: center;}
}

#words {color: blue;}

.nav-item {
  list-style-type: none;
  font-size: 20px;
  /* font-weight: bold; */
  /* margin-top: 15px; */
}
